:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: #00B7FF;
}

p {
  text-align: center;
}

section {
  font-size: 1.5em;
  color: white;
  margin: 1em 1em 0 1em;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 0;
}

p,
div {
  margin-bottom: 0;
}

#canvas {
  height: 90vh;
  width: 64vh;
  margin: 1em;
  z-index: 10;
}


@media screen and (min-width: 1200px) {
  body {
    flex-direction: row;
  }
}