@keyframes diceEnter1 {
	from {
		transform: translate(-6in) rotate(0deg);
	}

	to {
		transform: translate(0) rotate(360deg);
	}
}

@keyframes diceEnter2 {
	from {
		transform: translate(6in) rotate(0deg);
	}

	to {
		transform: translate(0) rotate(360deg);
	}
}

:root {
	--vanilla: #ddc1a0; /* burlywood */
	--chocolate: #2e1e0f; /* saddlebrown */
	--cherryRed: #88292f; /* crimson */;
}

* {
	font-size: unset;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--chocolate, saddlebrown);
}

body {
	overflow: hidden;
	background-color: var(--vanilla, burlywood);
	margin: 1% 2%;
}

canvas {
	width: 56.2%;
	height: 10%;
}

img {
	width: 20%;
	height: 20%;
}

img#diceImg1 {
	animation: diceEnter1 1.5s 0s linear;
}

img#diceImg2 {
	animation: diceEnter2 1.5s 0s linear;
}

main {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 25vh;
}

button {
	padding: 0 0.5em;
	font-size: 4vmin;
	font-weight: bold;
	background-color: var(--cherryRed, crimson);
	transform: scale(1);
	transition: transform 0s ease;
}

button:active {
	transform: scale(1.3);
}

input:focus,
button:focus {
	border: 0.4vw solid var(--chocolate, saddlebrown);
}

footer {
	margin: 4% 4% 0% 4%;
	text-align: center;
}

small {
	font-size: 2.5vmin;
}