* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
}

header {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  background-color: #e5e5e5;
}

img {
  height: 7vmax;
  padding: 0.5em;
}

button,
input[type="submit"] {
  width: fit-content;
  cursor: pointer;
  font-weight: bold;
}

nav {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
}

nav>button {
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  font-size: 2vh;
}

button:hover {
  background-color: #aaa;
  color: #fff;
}

nav>button.selectedPage {
  background-color: #0000ff;
  color: #fff;
}

div.searchResult {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1em;
  gap: 2em 3em;
  font-size: 1.5em;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

[class^="movieDiv"] {
  height: fit-content;
  cursor: pointer;
  border: 0.2em solid #202020;
}

[class^="movieDiv"]:hover {
  background-color: #aaa;
  color: #fff;
}

.movieDiv-open:before {
  content: '▲';
}

.movieDiv-closed:before {
  content: '▼';
}

input {
  height: 2em;
  padding: 0.1em;
  border: 0.1em solid #ccc;
  border-radius: 4px;
  font-size: inherit;
}

#newMovieForm {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1.3em;
}

#newMovieForm input,
span.inputHint {
  width: 50vmax;
  justify-self: left;
}

#newMovieForm label {
  margin-top: 1.5em;
  justify-self: left;
}

form#newMovieForm>input[type="submit"] {
  width: fit-content;
  margin: 2em 0;
  margin-left: 3em;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5em;
  border-radius: 4px;
  font-size: 1.2em;
}

form#newMovieForm>input[type="submit"]:hover {
  background-color: #555;
}

label {
  font-weight: bold;
}

#errorDiv,
.errorInput,
#errorSpan {
  color: red;
  font-weight: bold;
}

.errorInput {
  border-color: red;
  border-width: 0.2em;
}

#errorDiv {
  margin-left: 2em;
}

#errorDiv,
#errorSpan {
  font-size: 2em;
}

.modal {
  font-size: 1.5em;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal.open {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 1.2em;
  border-radius: 5px;
  max-width: fit-content;
  text-align: center;
}

.modal button {
  background: #007bff;
  color: #fff;
  border: none;
  font-size: 1em;
  padding: 0.5em;
  cursor: pointer;
}

.modal button:hover {
  background-color: #005aee;
}

.inputSearch {
  display: flex;
  align-items: center;
}

#actorInput,
#yearInput,
#titleInput {
  width: 30vmax;
  padding: 0.1em;
  font-size: 1.3em;
  border: 0.1em solid #ccc;
  border-radius: 5px;
}

.searchBtn {
  padding: 0.3em;
  font-size: 1.8em;
  background-color: #f44336;
  color: #fff;
  margin: 0.2em;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.searchBtn:hover {
  background-color: #d32f2f;
}

@media all and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-around;
  }

  div.searchResult {
    grid-template-columns: 1fr 1fr;
  }

  #newMovieForm {
    grid-template-columns: 1fr 6fr;
    gap: 1em 0.5em;
  }

  #newMovieForm label {
    margin-top: 0;
    justify-self: right;
  }

  label {
    padding: 0.5em;
    font-weight: bold;
  }
}

@media all and (min-width: 1200px) {
  nav>button {
    font-size: 1.5em;
  }
}