@using Microsoft.AspNetCore.Identity
@using gbH60Customer.DAL
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Context
@inject SignInManager<IdentityUser> SignInManager
@inject IShoppingCartRepository Repo

@{
    ViewData["CartNum"] = (await Repo.GetCartItems((Context.HttpContext.Session.GetInt32("CustId") ?? 0))).Count();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Batcave Collectibles</title>
    <link rel="icon" href="~/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/gbH60Customer.default.css" asp-append-version="true" />
</head>
<body>
    <header id="topHeader">
        <div>
            <img src="~/images/text_logo.png" alt="Banner"/>
        </div>
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/bat_logo.png" alt="Logo" loading="lazy" /></a>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="ProductCategories" asp-action="Index">Product Categories</a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li id="cartLink">
                        <a asp-area="" asp-controller="ShoppingCart" asp-action="Index">
                            <sup>@ViewData["CartNum"]</sup>
                            <img src="~/images/cart_icon.png" alt="Cart" loading="lazy" />
                        </a>
                    </li>
                }
                <li>
                    <partial name="_LoginPartial" />
                </li>
            </ul>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div>
            &copy; 2024 - Batcave Collectibles - <a href="mailto:2232517@cegep-heritage.qc.ca">Contact Us</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
