@{
    ViewData["Title"] = "Home Page";
}

<div class="homePage text-center">
        <h1>Welcome to Batcave Collectibles (Staff Edition)</h1>
        <h3>Your one-stop shop for managing all things Batman!</h3>
        <a asp-controller="Products" asp-action="Index" class="btn">Manage Now</a>
    </div>
</div>
